<h1 class='center'>Evènements</h1>

<div class='container'>
<div class="row">
<div *ngFor='let event of EventList' class="col s6 m4">
  <div (click)="eventDetail(event)" class="card horizontal">
    <div class="card-image">
      <img [src]="event.picture">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{ event.name }}</p>
        <p><small>{{ event.created | date }}</small></p><br><br>
        <p-button type="success" label="s'inscrire" routerLink="/inscription"></p-button>
       
      </div>
    </div>
  </div>
</div>
</div>
<p-button type="submit" label="créer un évènement" routerLink=''></p-button>
</div>