<div class="card">
  <p-table [value]="currentUser" [tableStyle]="{ 'min-width': '50rem' }" >
    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>Prémon</th>
        <th>Date de Naissance </th>
        <th>email</th>
        <th>Ville</th>
        <th>Evènement</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr *ngFor="let user of currentUser">
        <td>{{ user.firstName}}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.birthday }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.ville }}</td>
        <td>{{ user.event }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
