<div class="bandeau">
  <img src="/assets/img/bandeau.jpg" alt="bandeau" />
</div>
<h2 class="center">Les Aventuriers</h2>

<div class="card flex justify-content-center" [style]="{ width: '860px' }">
  <p-card header="Bienvenue chez les aventuriers !">
    <p>
      Ce site vous offre une variété d'activités passionnantes pour tous les
      amateurs d'aventure. Que vous soyez adepte de randonnée, de trekking ou
      encore de course à pied, y compris les marathons, nous avons ce qu'il vous
      faut.
    </p>

    <p class="justify">
      Explorez notre sélection d'événements et découvrez des expériences uniques
      à travers des paysages époustouflants. Que vous soyez un novice cherchant
      à relever de nouveaux défis ou un aventurier chevronné en quête
      d'adrénaline,<br />
      nous avons des options adaptées à tous les niveaux. Rejoignez-nous et
      partagez des moments inoubliables avec d'autres passionnés d'aventure. Que
      vous soyez seul, en famille ou entre amis, notre site vous offre
      l'opportunité de vivre<br />
      des expériences exceptionnelles et de repousser vos limites. Préparez-vous
      à vivre des aventures palpitantes et à créer des souvenirs qui resteront
      gravés dans votre esprit. Rejoignez la communauté des aventuriers et
      commencez<br />
      dès maintenant votre prochaine escapade ! N'hésitez pas à parcourir notre
      site pour en savoir plus sur nos événements et pour vous inscrire à ceux
      qui vous attirent le plus. Préparez-vous à vivre des moments intenses et à
      repousser vos limites.<br /><br />
      L'aventure vous attend !
    </p>
  </p-card>
</div>
<br />
<div class="align">
<div class="card flex justify-content-right" [style]="{ width: '860px' }">
  <p-card header="Rejoignez-nous">
    <p class="m-0"></p>
    <p>
      Vous avez maintenant l'opportunité de vous inscrire à un ou plusieurs
      événements et de partager vos expériences avec les autres utilisateurs.</p><p>
      Vous pouvez également proposer de nouveaux défis et enrichir la communauté
      avec vos idées innovantes.
    </p>
    <br />

    <p>
      Rejoignez-nous dans cette aventure passionnante où vous pourrez repousser
      vos limites, explorer de nouveaux horizons et créer des souvenirs
      inoubliables.</p><p> Que vous soyez un adepte de la randonnée, un passionné de
      trekking ou un amateur de courses à pied, il y a une multitude
      d'événements adaptés à vos préférences et à votre niveau.
    </p><br>

    <p>
      Nous croyons en la force de la communauté et en l'échange d'expériences.
      Votre participation et vos retours sont précieux pour nous aider à
      améliorer continuellement notre offre d'événements.</p><p> Vous pouvez partager
      vos conseils, vos recommandations et même organiser vos propres défis pour
      inspirer les autres aventuriers.
    </p><br>

    <p>
      Que vous soyez un aventurier solitaire en quête de nouveaux défis ou que
      vous souhaitiez partager cette expérience avec vos amis et votre famille,
      notre plateforme vous permet de vivre des moments uniques et de tisser des
      liens forts avec d'autres passionnés d'aventure.
    </p><br>

    <p>
      Inscrivez-vous dès maintenant et préparez-vous à relever de nouveaux
      défis, à repousser vos limites et à vivre des expériences incroyables.
      Nous sommes impatients de vous accueillir dans notre communauté
      d'aventuriers. Ensemble, nous pouvons créer une expérience inoubliable et
      enrichissante pour tous !
    </p>

    <p>
      Explorez notre sélection d'événements, partagez vos connaissances et
      faites partie d'une communauté vibrante et passionnée. L'aventure vous
      attend, alors ne manquez pas cette occasion de vous surpasser et de créer
      des souvenirs qui dureront toute une vie. Rejoignez-nous dès maintenant et
      préparez-vous à vivre des expériences qui vous donneront des frissons
      d'excitation !
    </p>
  </p-card>
</div></div>
