<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<form *ngIf="event" (ngSubmit)="OnSubmit()" #eventForm="ngForm">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card-panel">
    
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name"
                  required
                   [(ngModel)]="event.name" name="name"
                   #name="ngModel">
          </div>
    
          <div class="form-group">
            <label for="hp">distance</label>
            <input type="number" class="form-control" id="distance"
                    required
                  [(ngModel)]="event.distance" name="distance"
                   #distance="ngModel">
           </div>

        <div class="form-group">
          <label for="lieu">Lieu</label>
          <input type="text" class="form-control" id="lieu"
                  required
                 [(ngModel)]="event.lieu" name="lieu"
                 #lieux="ngModel">
          </div>
       
          <form class="form-group">
            <label for="types">discipline</label>
            <p *ngFor="let type of type">
              <label>
                <input type="checkbox"
                  class="filled-in"
                  id="{{ type }}"
                  [value]="type"
                  [checked]="Type(type)"
                  [disabled]="!isTypesValid(type)"
                   />
                  <span [attr.for]="type">
                    <div [style.color]="type | color" class="{{ type }}">
                      {{ type }}
                    </div>
                  </span>
             </label>
            </p>
          </form>
    
          <!-- Submit button -->
          <div class="divider"></div>
          <div class="section center">
            <button type="submit"
              class="waves-effect waves-light btn"
              [disabled]="!eventForm.form.valid">
              Valider</button>
          </div>
    
        </div>
      </div>
    </div>
  </form>
  <h3 *ngIf="!event" class="center">Aucun évènement à éditer...</h3>
